/* 



 */

.menu-spacer {
    flex: 1 1 auto;
}

.mat-elevation-z6>a.active {
    background-color: blue;
    color: #ffff;
    border-radius: 15%;
}

mat-elevation-z6>a {
    padding: 5px;
    text-decoration: none;
}

.row {
    width: 100%;
}