nav>a {
    padding: 5px;
    text-decoration: none;
}

nav>p {
    padding: 5px;
    text-decoration: none;
}

nav>a.active {
    background-color: blue;
    color: #ffff;
}

.header-row {
    width: 100%;
}